## Directus
KEY=change-me-to-a-random-value
SECRET=change-me-to-a-random-value
ADMIN_EMAIL=admin@castelagency.fr
ADMIN_PASSWORD=admin
PUBLIC_URL=http://localhost:8055

## CORS (frontend)
CORS_ORIGIN=http://localhost:3000

